@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Syne', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #141414;
}

.to-top {
  background-color: #d4af37;
  color: #141414;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  transition: all 0.4s;
  z-index: 400;
  opacity: 0;
  pointer-events: none;
}

.to-top.active {
  bottom: 2rem;
  opacity: 1;
  pointer-events: auto;
}

.feather-24 {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 8rem;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.header {
  width: 100%;
  height: 31.25rem;
}

.header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.logo > span {
  -webkit-text-stroke-color: #fff;
  color: transparent;
  -webkit-text-stroke-width: 0.125rem;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation .navigation-link {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  margin-right: 2rem;
  letter-spacing: 0.1rem;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: color 0.3s;
}

.navbar.scrolled .logo,
.navbar.scrolled .logo > span,
.navbar.scrolled .navigation .navigation-link {
  color: #000;
  text-shadow: none;
}

.navbar.scrolled {
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 28px #0000000f;
}

.header-contact-us-btn {
  margin-right: 2rem;
  background-color: #1c1c1f;
  padding: 1rem;
  display: inline-block;
  text-decoration: none;
  color: #d4af37;
}

.header-contact-us-btn span {
  font-size: 0.875rem;
}

.header-contact-us-btn div:first-child {
  display: flex;
  align-items: center;
}

.feather-40 {
  width: 2.5rem;
  height: 2.5rem;
}

.mobile-nav-menu {
  display: none;
}

.header-contact-us-btn-tel {
  font-weight: 500;
}

.banner {
  position: absolute;
  top: 12.5rem;
  z-index: 100;
  text-align: center;
  width: 100%;
  color: #fff;
  text-align: left;
  padding-left: 3rem;
}

.banner > h3 {
  text-transform: uppercase;
  font-size: 2.1875rem;
}

.banner div {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 0.625rem;
}

.banner-chevron-right {
  color: #d4af37;
}

.contact-us-section {
  padding: 6.25rem 3rem;
  color: #fff;
  background-color: #1a1a1a;
  width: 100%;
  justify-content: space-between;
}

.contact-us-section > h2 {
  text-align: center;
  margin-bottom: 2.1875rem;
  text-transform: uppercase;
}

.contact-us-section > div {
  display: flex;
  flex-wrap: wrap;
}

.contact-us-section > div > form {
  max-width: 50%;
  flex: 0 0 50%;
  padding-left: 0.9375rem;
}

.contact-us-section > div > .contact-info-content-wrapper {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 0.9375rem;
}

.contact-us-section
  > div
  > .contact-info-content-wrapper
  > .contact-info-content {
  background-color: #141414;
  border-left: 0.125rem solid #ccc;
  border-bottom: 0.125rem solid #ccc;
  padding: 1.5625rem 2.1875rem;
}

.contact-us-section > div > form > div {
  background-color: #141414;
  border-bottom: 0.125rem solid #ccc;
  padding: 2.5rem;
}

.contact-us-section
  > div
  > .contact-info-content-wrapper
  > .contact-info-content
  > div {
  margin-top: 2.1875rem;
}

.contact-us-section
  > div
  > .contact-info-content-wrapper
  > .contact-info-content
  > div
  > p {
  color: #ccc;
  margin-top: 0.3125rem;
}

.contact-us-section label {
  color: fff;
  margin-top: 1.25rem;
  display: inline-block;
  color: #fff;
}

.contact-us-section input {
  padding: 0.9375rem;
  border: none;
  width: 100%;
  margin-top: 0.625rem;
  font-size: 1rem;
}

.contact-us-section textarea {
  width: 100%;
  padding: 0.9375rem;
  font-size: 1rem;
  margin-top: 0.625rem;
}

.contact-us-section textarea:focus,
.contact-us-section input:focus {
  outline: none;
}

.contact-us-section button {
  padding-block: 0.625rem;
  padding-inline: 1.25rem;
  background-color: #d4af37;
  color: #000;
  border: none;
  font-size: 1rem;
  margin-top: 0.9375rem;
  font-weight: 500;
  cursor: pointer;
}

.cta-button {
  margin-top: 10rem;
  background: #d4af37;
  color: #000;
  padding: 1.5625rem 3.125rem;
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

.footer {
  background-color: #1c1c1f;
  color: #adadad;
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
  word-wrap: break-word;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 3.125rem 2.1875rem;
  padding-bottom: 0.625rem;
}

.footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.625rem;
  align-items: baseline;
}

.footer > div > div {
  flex: 0.5;
  padding-inline: 0.9375rem;
}

.footer h4 {
  text-transform: uppercase;
  color: #fff;
}

.footer h4 > span {
  -webkit-text-stroke-color: #fff;
  color: transparent;
  -webkit-text-stroke-width: 0.0313rem;
}

.footer > div > div > p {
  font-size: 1rem;
  margin-top: 0.9375rem;
  line-height: 1.4;
}

.footer > div > .contact-info > div {
  font-size: 1rem;
  margin-top: 0.9375rem;
}

.footer > div > .contact-info > div > div {
  display: flex;
  align-items: center;
  margin-top: 0.9375rem;
}

.contact-info-content {
  margin-left: 0.625rem;
}

.footer .social-media-links {
  display: block;
  width: fit-content;
}

.footer .social-media-links > div > a {
  background-color: #141414;
  color: #d4af37;
  display: inline-block;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.9375rem;
}

.footer .useful-links > div > a {
  margin-top: 0.9375rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  color: #adadad;
}

.footer .useful-links > div > a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 950px) {
  .navbar {
    padding: 0 1.8rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .header-contact-us-btn {
    display: none;
  }
  .contact-us-section > div {
    flex-direction: column;
    align-items: center;
  }
  .contact-us-section > div > .contact-info-content-wrapper,
  .contact-us-section > div > form {
    padding: 0;
    max-width: 80%;
    flex: 0 0 80%;
    word-break: break-all;
  }

  .contact-us-section > div > form {
    margin-top: 2.1875rem;
  }
}

/* MOBILE VERSION */
@media only screen and (max-width: 680px) {
  .header {
    height: 25rem;
  }

  .logo {
    font-size: 1.25rem;
  }
  .navbar {
    padding: 0 1.8rem;
    height: 5rem;
  }
  .banner h1 {
    font-size: 1.5rem;
  }

  .banner {
    padding-inline: 0.625rem;
    text-align: center;
  }
  .banner div {
    justify-content: center;
  }

  .mobile-nav-menu {
    display: inline-block;
  }

  .header-cta {
    margin-top: 5rem;
  }

  .mobile-nav-menu {
    color: #fff;
  }

  .navbar.scrolled .logo > span {
    -webkit-text-stroke-color: transparent;
  }

  .mobile-nav-menu.scrolled {
    color: #000;
  }

  .navbar.scrolled .navigation .navigation-link {
    color: #fff;
  }

  .mobile-nav-menu:hover {
    cursor: pointer;
  }

  .navigation {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4.375rem;
    margin-right: 1.875rem;
    background-color: #333;
    z-index: 200;
  }
  .header-contact-us-btn {
    margin: 0.9375rem 0.625rem;
  }
  .navigation .navigation-link {
    margin-right: 0;
    padding: 0.9375rem 0.625rem;
    width: 100%;
    text-align: center;
  }
  .navigation .navigation-link:hover {
    background-color: #222;
  }

  .header-contact-us-btn {
    display: inline-block;
  }

  .hidden {
    display: none;
  }

  .contact-us-section {
    padding-inline: 0.9375rem;
  }

  .contact-us-section > div > .contact-info-content-wrapper,
  .contact-us-section > div > form {
    max-width: 100%;
    flex: 0 0 100%;
    word-break: break-all;
  }

  .footer > div {
    flex-direction: column;
    gap: 1.25rem;
  }

  .footer {
    padding-inline: 0.625rem;
    padding-block: 6.25rem 0.625rem;
    word-break: break-all;
  }
}
